.details {
    display: flex;
    padding: 7em;
    background: linear-gradient(1deg,#eddcf6 -33.15%,#5e35b1 84.96%);
    align-items: baseline;
    justify-content: space-evenly;
}

.details h1 {
    line-height: 1.5em;    
    font-size: 3.5em;
    font-weight: 400;

}

.details p {
    font-weight: 400;
    opacity: 0.5;
}

.details-desc {
    margin: 0 auto;
    width: 60%;
    padding: 5em 0;
}

.details-content h1{
    line-height: 3em;
}

.details-content p {
    line-height: 40px;
}

.prob {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 7em;
}