@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
html {
    box-sizing: border-box;
    font-family: 'Lato', 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


*, *:before, *:after {
    box-sizing: inherit;
}